$fontColor: #343332;
$white: #f9f9f9;
$green: #376744;
$paleBrown: #d7d4d2;
$paleGreen: #e0ecd7;
$mainColor: #66503a;
$red: #c41322;
$saleTicketBackground: #f7f3d3;
$before: #214fc8;
$after: #e87912;
$gray: #dbd7d7;
$darkGray: #595858;
$black: #000;
// $serviceContentBG
